{% extends 'interfacePersonnel.html.twig' %}
{% block stylesheet %}
    {{ parent()}}

    <link rel="stylesheet" href="{{ asset('front/css/userprofileetudiant.css')}}">
{% endblock %}
{% block body %}
    <section class="profile_area">
        <div class="container">
            <div class="profile_inner p_120">
                <div class="row">
                    <div class="col-lg-5">
                        <img class="img-fluid" src="{{ asset(app.user.picuser) }}" alt="">
                    </div>
                    <div class="col-lg-7">
                        <div class="personal_text">
                            <h3>  {{ app.user.prenomuser }}  {{ app.user.nomuser }} </h3>
                            <h4>{{ app.user.roles['0']|slice(5, 10)}}</h4>
                            <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                            <ul class="list basic_info">
                                <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31st December, 1992</a></li>
                                <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                <li><a href="#"><i class="lnr lnr-envelope"></i> businessplan@donald</a></li>
                                <li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li>
                            </ul>
                            <ul class="list personal_social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


 {#  <div class="container-fluid dashboard-content">
        <div class="row">

            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="user-avatar text-center d-block">
                            <img src="{{ asset(app.user.picuser) }}" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                        </div>
                        <div class="text-center">
                            <h2 class="font-24 mb-0"> {{ app.user.roles['0']|slice(5, 10)}}  </h2>
                        </div>
                    </div>
                    <div class="card-body border-top">
                        <h3 class="font-16">General Informations</h3>
                        <table class="table">

                            <tr>
                                <th style="text-align: left"> First Name : </th>
                                <td>  {{ app.user.prenomuser }}   </td>
                            </tr>

                                <tr>
                                    <th style="text-align: left"> Last Name : </th>
                                    <td>  {{ app.user.nomuser }}   </td>
                                </tr>

                            <tr>
                                <th style="text-align: left"> INC Number : </th>
                                <td>  {{ app.user.cinuser }}   </td>
                            </tr>
                            <tr>
                                <th style="text-align: left"> Gender : </th>
                                <td>  {{ app.user.sexeuser }}   </td>
                            </tr>


                        </table>


                    </div>
                    <div class="card-body border-top">
                        <h3 class="font-16">Contact Informations</h3>
                        <div class="">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>{{ app.user.email }}</li>
                                <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i>+216 {{ app.user.numteluser }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>#}

{% endblock %}

