{% extends 'interfaceAdministrateur.html.twig' %}
{% block body %}
<div class="container">
    <h1>Absence</h1>

    <table >
        <tbody >
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if absence.date %}{{ absence.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Timedeb</th>
                <td>{% if absence.timedeb %}{{ absence.timedeb|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Timefin</th>
                <td>{% if absence.timefin %}{{ absence.timefin|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('absence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('absence_edit', { 'id': absence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
{% endblock %}
