{% extends '::base.html.twig' %}
{% block stylesheet %}
{{ parent()}}
<link href="{{ asset('back/assets/vendor/fonts/circular-std/style.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{ asset('back/assets/libs/css/profile.css')}}">



{% endblock %}
 {% block header %}

     <div class="main_menu">
         <nav class="navbar navbar-expand-lg navbar-light">
             <div class="container">
                 <!-- Brand and toggle get grouped for better mobile display -->
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <!-- Collect the nav links, forms, and other content for toggling -->
                 <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                     <ul class="nav navbar-nav menu_nav ml-auto">
                         <li class="nav-item"><a class="nav-link" href="{{ path('profile') }}">Profile</a></li>
                         <li class="nav-item"><a class="nav-link" href="about-us.html">About</a></li>
                         <li class="nav-item submenu dropdown">
                             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Event</a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item"><a class="nav-link" href="{{ path('evenement_image') }}"> Events</a>
                                 <li class="nav-item"><a class="nav-link" href="{{ path('EvenementClub') }}"> your Events</a>
                                 <li class="nav-item"><a class="nav-link" href="{{ path('club_show_image') }}">Clubs</a></li>
                             </ul>
                         </li>



                         <li class="nav-item submenu dropdown ">
                             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Result</a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item"><a class="nav-link" href="{{ path('note_affiche_etudiant')}}">Grades</a></li>

                                 <li class="nav-item"><a class="nav-link" href="{{ path('resultat_affiche') }}">Result</a></li>
                             </ul>
                         </li>
                         <li class="nav-item submenu dropdown ">
                             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reclamation</a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item"><a class="nav-link" href="{{ path('reclamation_new')}}">Add</a></li>

                                 <li class="nav-item"><a class="nav-link" href="{{ path('reclamation_index') }}">Display</a></li>
                             </ul>
                         </li>
                         <li class="nav-item submenu dropdown ">
                             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Books</a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item"><a class="nav-link" href="{{ path('books_index')}}">Display</a></li>


                             </ul>
                         </li>
                         <li class="nav-item submenu dropdown">
                             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Demande Event</a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item"><a class="nav-link" href="{{ path('demandeevenement_new') }}">Request Events</a></li>
                                 <li class="nav-item"><a class="nav-link"  href="single-blog.html">Blog Details</a></li>
                             </ul>
                         </li>
                         <li class="nav-item submenu dropdown">
                             <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Forum</a>
                             <ul class="dropdown-menu">
                                 <li class="nav-item"><a class="nav-link" href="{{ path('view_questions') }}">Forum</a></li>

                             </ul>
                         </li>

                         <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                     </ul>
                     <a  href="{{ path('fos_user_security_logout') }}" class="btn btn-success"  style="margin-left: +5%;size: -5px">
                         <span  class="glyphicon glyphicon-log-out" ></span> Log out
                     </a>
                 </div>
             </div>
         </nav>
     </div>


 {% endblock %}


{% block body %}

{% endblock %}
{% block footer %}
{% endblock %}