{% extends 'interfaceEtudiant.html.twig' %}

{% block body %}
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(-147.365px);"></div>
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Demand Event</h2>
                    <div class="page_link">

                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="container">



    <iv class="card  bg-transparent mb-3" style="width: 70%;margin-left: +20%;margin-top: +5%">
        <div class="card-header"style="font-size: 30px"><center></center></div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
            {{ form_errors(form) }}<!-- <form method="post">

                <select id="cars" name="carlist" form="carform">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </form>-->
            </div>


                {{ form_label(form.clubnom) }}
                {{ form_widget(form.clubnom) }}
                {{ form_errors(form.clubnom) }}




                {{ form_label(form.datedebut) }}
                {{ form_widget(form.datedebut) }}
                {{ form_errors(form.datedebut) }}


                {{ form_label(form.datefin) }}
                {{ form_widget(form.datefin) }}
                {{ form_errors(form.datefin) }}


                {{ form_label(form.budget) }}
                {{ form_widget(form.budget,{'attr':{'class':'single-input'}}) }}
                {{ form_errors(form.budget) }}



            {{ form_label(form.file) }}
            {{ form_widget(form.file,{'attr':{'class':'single-input'}}) }}
            {{ form_errors(form.file) }}

            {{ form_label(form.description,'description') }}
            {{ form_widget(form.description,{'attr':{'class':'single-input'}}) }}
            {{ form_errors(form.description) }}
        <input type="submit" value="Create" class="genric-btn success circle arrow"
        />

</iv>

    </div>

    {{ form_end(form) }}
    </div>   </div>   </div>

    </div>
{% endblock %}
