{% extends 'interfaceEnseignant.html.twig' %}
{% block content %}<br>
<h2 align="center"  > Les Notes De M/Mme {{ app.user.nomUser }} {{ app.user.prenomuser }}</h2>
<br>
<table class="table table-striped">
    <thead style="background-color: #37737f" >
    <tr>
        <th>CIN Etudiant</th>
        <th>Note CC</th>
        <th>Note DS</th>
        <th>Note Examen</th>
        <th>Moyenne</th>
        <th>Supprimer</th>
        <th>Modifier</th>

    </tr>
    </thead>
    {%  for n in note %}
        <tr>
            <td>{{ n.cinuser}}</td>
            <td>{{ n.notecc }}</td>
            <td>{{ n.noteds }}</td>
            <td>{{ n.noteexam }}</td>
            <td>{{ n.moyenne }}</td>
            <td>
                <form action="{{ path("note_delete",{'idetudiant':n.etudiant,'idmatiere':n.matiere}) }}";>
                    <button> Delete </button>
                </form>
            </td>
            <td>
                <form action="{{ path("note_edit",{'idetudiant':n.etudiant,'idmatiere':n.matiere}) }}";>
                    <button> Edit </button>
                </form>
            </td>

        </tr>
    {% endfor %}


</table>

{% endblock %}