

<div class="modal fade bd-example-modal-lg" id="myModalchoose" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  style="padding-right: +100%" >

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <center><h1>Evenement</h1></center>
            <div class="modal-header">

                <div class="row" style="margin-top: +10%">

                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0  m-b-30">

                        <div class="product-slider">
                            <img src="{{ asset('images/'~evenement.image)}} "style="height: 300px;width: 300px;margin-bottom: +60%" data-toggle="modal" data-target="#exampleModalCenter">
                        </div>

                    </div>


                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 border-left m-b-30" style="margin-top: +20%" >

                    <div class="product-details">
                        <h3 class="modal-title" id="exampleModalCenterTitle"><i class="fa fa-calendar" aria-hidden="true"></i>Date Debut: {{ evenement.datedebut|date("m/d/Y") }}</h3><br>
                        <h3 class="modal-title" id="exampleModalCenterTitle"><i class="fa fa-calendar" aria-hidden="true"></i>Date Fin: {{ evenement.datefin|date("m/d/Y") }}</h3>
                        <h3 style="margin-top: 15px"><i class="fa fa-group" aria-hidden="true"></i>nombre Participants: {{ evenement.x }}</h3>




                    </div>
                </div></div>

        </div>
    </div>
</div>

<script src="{{ asset('front/js/rating.js') }}"></script>
