<h2>Participated Events:</h2><br>
{% for evenement in evenements %}
<div class="col-md-4 blog-left">

    <div class="border border-white">

        <img src="{{ asset('images/'~evenement.image)}} "style="height: 250px;width: 260px;margin-bottom: +10%" data-toggle="modal" data-target="#exampleModalCenter"  onclick="print({{ evenement.idevenement }})">
        <div class="carousel-caption">
            <a class="genric-btn info-border circle" style="margin-bottom: +40%;background-color: transparent" href="{{ path('test', { 'idevenement': evenement.idevenement }) }}"> <i class="fa fa-bookmark-o" style="margin-right: 10px;"></i></a>

        </div>

        <!-- Modal -->
    </div>
    <div class="modal fade" id="myModalchoose" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalCenterTitle">Date Debut: {{ evenement.datedebut|date("m/d/Y") }}</h5><br>
                    <h5 class="modal-title" id="exampleModalCenterTitle">Date Fin: {{ evenement.datefin|date("m/d/Y") }}</h5>
                    <img src="{{ asset('images/'~evenement.image)}} "style="height: 5px;width: 5px;margin-bottom: +10%" data-toggle="modal" data-target="#exampleModalCenter">

                    <p>descriptio</p>


                </div>

            </div>
        </div>
    </div>

</div>
{% endfor %}