{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>Club creation</h1>

    {{ form_start(form) }}
    <div class="col-lg-8 col-md-8">

        <div class="form-group">
            <div class="mt-10">
           <!-- <form method="post">

                <select id="cars" name="carlist" form="carform">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="opel">Opel</option>
                    <option value="audi">Audi</option>
                </select>
            </form>-->
            </div>
            <div class="mt-10">

                {{ form_label(form.clubnom) }}
                {{ form_widget(form.clubnom) }}
                {{ form_errors(form.clubnom) }}
            </div>

            <div class="mt-10">

                {{ form_label(form.datedebut) }}
                {{ form_widget(form.datedebut) }}
                {{ form_errors(form.datedebut) }}
            </div>

            <div class="mt-10">

                {{ form_label(form.datefin) }}
                {{ form_widget(form.datefin) }}
                {{ form_errors(form.datefin) }}
            </div>
            <div class="mt-10">

                {{ form_label(form.budget) }}
                {{ form_widget(form.budget,{'attr':{'class':'single-input'}}) }}
                {{ form_errors(form.budget) }}
            </div> <div class="mt-10">

                {{ form_label(form.etat) }}
                {{ form_widget(form.etat,{'attr':{'class':'single-input'}}) }}
                {{ form_errors(form.etat) }}
            </div>
        </div> <div class="mt-10">

            {{ form_label(form.image) }}
            {{ form_widget(form.image,{'attr':{'class':'single-input'}}) }}
            {{ form_errors(form.image) }}
        </div>
        <div class="mt-10">

            {{ form_label(form.description,'description') }}
            {{ form_widget(form.description,{'attr':{'class':'single-input'}}) }}
            {{ form_errors(form.description) }}
        </div>
        </div>

        <input type="submit" value="Create" class="genric-btn success circle arrow"
        />
    </div>

    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Back to the list</a>
        </li>
    </ul>
    </div>
{% endblock %}
