{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('login/img/icons/favicon.ico' )}}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/bootstrap/css/bootstrap.min.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animate/animate.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/css-hamburgers/hamburgers.min.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/animsition/css/animsition.min.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/select2/select2.min.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/vendor/daterangepicker/daterangepicker.css' )}}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/util.css' )}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('login/css/main.css' )}}">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter" style="width: 800px;height: 100px;margin-bottom: +50%;">

    <div class="container-login100">
        <div class="wrap-login100">


            <div class="col-lg-25 col-md-12">


                <div class="login100-more" style="background-color: #22427C;width: 400px;">
                    <img src="{{ asset('login/img/logo.png' )}}"style="margin-left: -28%;">
                </div>
                <form action="{{ path("fos_user_security_check") }}" method="post"style="margin-left: +65%;margin-top: -40%; padding-bottom: +40%;   " >
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <div class="mt-10">
                        <input class="single-input" placeholder="First Name" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                        <span class="focus-input100"></span>
                    </div>
                    <div class="mt-10">
                        <input class="single-input" placeholder="Password" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                        <span class="focus-input100"></span>
                    </div>
                    <div class="mt-10">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        <input class="single-input" type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    </div>
                    <div class="mt-10">
                        <input class="genric-btn info circle arrow" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </div>
                </form>
            </div>




        </div>
    </div>
</div>



<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{{ asset('login/vendor/jquery/jquery-3.2.1.min.js' )}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/animsition/js/animsition.min.js' )}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/bootstrap/js/popper.js' )}}"></script>
<script src="{{ asset('login/vendor/bootstrap/js/bootstrap.min.js' )}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/select2/select2.min.js' )}}"></script>
<script>
    $(".selection-2").select2({
        minimumResultsForSearch: 20,
        dropdownParent: $('#dropDownSelect1')
    });
</script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/daterangepicker/moment.min.js' )}}"></script>
<script src="{{ asset('login/vendor/daterangepicker/daterangepicker.js' )}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/vendor/countdowntime/countdowntime.js' )}}"></script>
<!--===============================================================================================-->
<script src="{{ asset('login/js/main.js' )}}"></script>

</body>
</html>


