{% extends 'interfacePersonnel.html.twig' %}

{% block body %}
<div class="container" >
    <div id="tmpmodal"></div>

    <div class="card">

        <h5 class="card-header">Evenements list</h5>
        <div class="card-body">

            <table class="table">
        <thead>
            <tr>
                <th ></th>
                <th >Idevenement</th>
                <th >Datedebut</th>
                <th >Datefin</th>
                <th >Idclub</th>
                <th >Image</th>
                <th >Actions</th>
            </tr>
        </thead>
        <tbody >


        {% for evenement in evenements %}
            {% if evenement.idclub.getIdclub==1 %}
            <tr class="table-secondary">
                {% else %}
                    <tr >
                {% endif %}


            <th   >
                <td   ><a href="{{ path('evenement_show', { 'idevenement': evenement.idevenement }) }}">{{ evenement.idevenement }}</a></td>

                <td>{% if evenement.datedebut %}{{ evenement.datedebut|date('Y-m-d') }}{% endif %}</td>

                <td>{% if evenement.datefin %}{{ evenement.datefin|date('Y-m-d') }}{% endif %}</td>
                <td>{{ evenement.idclub }}</td>
                <td><img src="{{ asset('images/' ~ evenement.image) }}" height="100px" width="250px"></td>

                <td>
                    <ul>

                            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter"  onclick="print({{ evenement.idevenement }})">detail</button>

                        {% if evenement.idclub.getIdclub == 1 %}


                            <a class="btn btn-light" href="{{ path('evenement_edit', { 'idevenement': evenement.idevenement }) }}">edit</a>

                        {% endif %}
                    </ul>
                </td>
             </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a class ="list-inline-item "href="{{ path('evenement_new') }}">Create a new evenement</a>
        </li>
    </ul>
        </div></div>
</div>
    <script>
        function print(x) {
            let url = "{{ (path('evenement_show', {'idevenement': 'ReplaceMeWithCorrectValue'})) }}";

            url = url.replace("ReplaceMeWithCorrectValue", x);

            $.post(url, function (xx) {
                $('#tmpmodal').html(xx);
                $('#myModalchoose').modal('show');
            });
        }


    </script>
{% endblock %}
