{% extends 'base.html.twig' %}
{% block title %}Forgot Password
{% endblock %}
{% block img %}
{% endblock %}
{% block body %}
<section class="profile_area" style="background-color: rgba(186,217,246,0.94)">
<br><br><br>
        <div class="container" align="center" >

                <div class="col-lg-12" >
                    <div class="card" style="width: 100%">
                        <div class="card-header text-center"><h2 style="color: #002a80">Please enter your user information.</h2></div>
                        <div class="card-body">

                            <h5 style="color: #1e2235">Don't worry, we'll send you an email containing your password </h5>


                            {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }} <br><br>
                            {{ form_errors(form) }}
                            {{ form_widget(form.email) }} <br>
                            {{ form_widget(form.recaptcha) }} <br>

                            <button type="submit" value="submit" class="btn submit_btn">Send Password</button>
                            {{ form_end(form) }}

                        </div>

                    </div>

             </div>

         </div>
    <br><br><br>    <br><br><br>


</section>

{% endblock %}