{% extends 'interfacePersonnel.html.twig' %}

{% block body %}
    <div class="container" >
        <div class="container">
            <div class="form-inline d-flex justify-content-center md-form form-sm active-cyan-2 mt-2" style="width: 30%;margin-bottom: +1%">

                <i class="fas fa-search" aria-hidden="true"  style="background-color: #003f81;color: white;font-size: 30px"></i> <input  class="form-control form-control-sm mr-3 w-75"  aria-label="Search" type="text" placeholder="Search" name="search" id="re" onchange="searchh()" style="border-color:#003f81">

            </div>



            <div  id="resultats">

                <div class="card">

                    <h5 class="card-header">clubs list</h5>
                    <div class="card-body">

                        <table class="table">
                            <thead>
                            <tr>
                                <th>Id club</th>
                                <th></th>
                                <th>club Name</th>
                                <th>Responsable</th>
                                <th>Domaine</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for club in clubs %}
                                <tr>

                                    <td>
                                        <a href="{{ path('club_show', { 'idclub': club.idclub }) }}">{{ club.idclub }}</a></td>
                                    <td><img src="{{ asset('images/'~club.image)}}" style="height: 100px;width: 100px"></td>
                                    <td>{{ club.nomclub }}</td>
                                    <td>{{ club.idresponsable }}</td>
                                    <td>{{ club.domaine }}</td>
                                    <td>

                                        <ul>
                                            <li>
                                                <a href="{{ path('club_show', { 'idclub': club.idclub }) }}">show</a>
                                            </li>
                                            {% if club.idclub!= 1 %}
                                                <!--  <li>
                            <a href="{{ path('club_edit', { 'idclub': club.idclub }) }}">edit</a>
                        </li>-->
                                            {% endif %}
                                        </ul>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <ul>
                            <li>
                                <a href="{{ path('club_new') }}">Create a new club</a>
                            </li>
                        </ul>
                    </div></div></div></div></div>
    <script>
        function searchh(){

            var r=$("#re").val();
            var data='rr';


                $.ajax({
                    type:"GET",
                    url:"{{ (path('rech')) }}",
                    data:{'titre':r},
                    success:function (data) {
                        $("#resultats").html(data).show();
                    }
                });
            

        }


    </script>
{% endblock %}
