{% extends  'interfacePersonnel.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row" style="margin-top: +1%">

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pr-xl-0 pr-lg-0 pr-md-0  m-b-30" >


                <div class="product-slider">
                    <div class="card-body">
                        <div class="d-inline-block">
                            <h5 class="text-muted">Total Argent utiliser</h5>
                            <h2 class="mb-0">  {% for b in bd %}{{ b.x }}DT{% endfor %}</h2>
                        </div>
                        <div class="float-right icon-circle-medium  icon-box-lg  bg-brand-light mt-1">
                            <i class="fa fa-money-bill-alt fa-fw fa-sm text-brand"></i>
                        </div>
                    </div>
                    <div class="carousel-inner">
                        <h5 class="text-muted">Stat</h5>
                        <div class="progress" style="width: 100%;height: 15%">
                            {% for club in clubs %}
                            {% for ev in evenements %}

                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{(club.x/ev.nbr)|number_format(2,'.')*100}}%; height: 100% ">
                                {{((club.x/ev.nbr)|number_format(2,'.'))*100}}%
                            </div>

                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="row text-center mt-4">
                        <div class="col-6 border-right">
                            {% for club in clubs %}
                            {% for ev in evenements %}
                            <div class="h4 font-weight-bold mb-0">{{(club.x/ev.nbr)|number_format(2,'.')*100}}%</div><span class="small text-gray"> Orgaiser Evenements </span>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <div class="col-6">
                            {% for club in clubs %}
                            {% for ev in evenements %}
                            <div class="h4 font-weight-bold mb-0">{{100-((club.x/ev.nbr)|number_format(2,'.')*100)}}%</div><span class="small text-gray">Les autres club </span>
                            {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pl-xl-0 pl-lg-0 pl-md-0 border-left m-b-30" >

                <div class="product-details" style="height: 455px">
                    <div class="border-bottom pb-3 mb-3">
                        <h1>Club Info</h1></div>
                    <h1>Id Club : {{ club.getIdclub }}</h1>
                    <h1>Nom Club : {{ club.getNomclub() }}</h1>
                    <h1>Id Responsable : {{club.getIdresponsable() }}</h1>
                    <h1>Domaine :{{ club.getDomaine() }}</h1>

                    <ul>
                        <li>
                            <a href="{{ path('club_index') }}">Back to the list</a>
                        </li>
                        <li>
                            <a href="{{ path('club_edit', { 'idclub': club.idclub }) }}">Edit</a>
                        </li>


                            {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                            {{ form_end(delete_form) }}

                    </ul>

                </div>

            </div>







        </div>
    </div>
{% endblock %}

