{% extends 'base.html.twig' %}

{% block body %}
    <h1>Notes list</h1>

    <table>
        <thead>
            <tr>
                <th>Etudiant</th>
                <th>Matiere</th>
                <th>Enseignant</th>
                <th>Datenote</th>
                <th>Notecc</th>
                <th>Noteds</th>
                <th>Noteexam</th>
                <th>Moyenne</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for note in notes %}
            <tr>
                <td><a href="{{ path('note_show', { 'etudiant': note.etudiant }) }}">{{ note.etudiant }}</a></td>
                <td>{{ note.matiere }}</td>
                <td>{{ note.enseignant }}</td>
                <td>{% if note.datenote %}{{ note.datenote|date('Y-m-d') }}{% endif %}</td>
                <td>{{ note.notecc }}</td>
                <td>{{ note.noteds }}</td>
                <td>{{ note.noteexam }}</td>
                <td>{{ note.moyenne }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('note_show', { 'etudiant': note.etudiant }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('note_edit', { 'etudiant': note.etudiant }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('note_new') }}">Create a new note</a>
        </li>
    </ul>
{% endblock %}
