{% extends '::templateback.html.twig' %}

{% block leftsidebar %}
    <div class="nav-left-sidebar sidebar-dark">
        <div class="menu-list">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav flex-column">
                        <li class="nav-divider">
                            Menu
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class="fa fa-fw fa-user-circle"></i>Complaint Management <span class="badge badge-success">6</span></a>
                            <div id="submenu-1" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('reclamation_backindex') }}">Complaint</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Result Management</a>
                            <div id="submenu-2" class="collapse submenu" style="">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('resultat__management') }}">Display</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('resultat_deleteall') }}">Delete</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('resultat_calculer') }}">Calculate</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('resultat_statistique') }}">Result Statistic</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Forum Management</a>
                            <div id="submenu-3" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('answers_listing_admin') }}">Answer Listing Admin</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('chartPieAction') }}">Charts Forum Questions</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('view_questions') }}">Consulter Forum Questions</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-360" aria-controls="submenu-360"><i class="fas fa-fw fa-user-circle"></i>Class</a>
                            <div id="submenu-360" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('classe_index')}}">Get Class</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('affectEtudClass')}}">Assign Students</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('affctens')}}">Assign Teachers</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-560" aria-controls="submenu-560"><i class="fas fa-fw fa-clock"></i>Absence</a>
                            <div id="submenu-560" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('absence_index')}}">Get Absence</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('absence_new')}}">Add Absence</a>
                                    </li>
                                </ul>
                            </div>
                        </li> <li class="nav-item">
                            <a class="nav-link"  href="{{ path('events_index') }}"><i class="fa fa-fw fa-calendar"></i>Calendar Annual</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-460" aria-controls="submenu-460"><i class="fab fa-fw fa-wpforms"></i>TimeTable</a>
                            <div id="submenu-460" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('emplo_index')}}">Get TimeTable</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('emplo_new')}}">Add TimeTable</a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-5" aria-controls="submenu-5"><i class="fas fa-fw fa-table"></i>Event Management</a>
                            <div id="submenu-5" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link"  href="{{ path('evenement_index') }}">Events</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('demandeevenement_index') }}">Events Demand</a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-12" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Subjects</a>
                            <div id="submenu-12" class="collapse submenu" style="">
                                <ul class="nav flex-column">

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('Matier_affich_admin') }}">List of subjects</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('Matier_ajout') }}">New subjects</a>
                                    </li>


                                </ul>
                            </div>
                        </li>

                      {#  <li class="nav-divider">
                            Features
                        </li>
#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('club_index') }}" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class="fas fa-fw fa-inbox"></i>Club Management <span class="badge badge-secondary">Club Management</span></a>
                            <div id="submenu-7" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link"href="{{ path('club_index') }}">Clubs</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="email-details.html">Email Detail</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="email-compose.html">Email Compose</a>
                                    </li>

                                </ul>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class="fas fa-fw fa-columns"></i>Books Management</a>
                            <div id="submenu-8" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('books_new') }}">Add </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('books_backindex') }}">Display</a>
                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-10" aria-controls="submenu-10"><i class="fas fa-f fa-sign-out-alt"></i>Logout</a>
                            <div id="submenu-10" class="collapse submenu" style="">
                                <ul class="nav flex-column">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}